@page "/"

<h1>The body of this page has no CSS class.</h1>
<p>
    Go to
    <a href="danger" title="Click here to visit a page with the CSS class 'danger' on the <body> element">a page</a>
    that does!
</p>
<h1>Did you know...?</h1>
<ul>
    <li>
        You can also set the <code>body</code> element's <code>lang</code> attribute by using the <code>Language</code> property
        of the <code>BodyElement</code> Blazor component. Try setting it to "en-GB" (British English) or "ES-mx" (Mexican Spanish).
    </li>
    <li>
        You can also set the <code>body</code> element's <code>dir</code> attribute by using the <code>TextDirection</code> property
        of the <code>BodyElement</code> Blazor component. Try setting it to "rtl" (right-to-left) or "ltr"
        (left-to-right, the default). This would be useful if you had to display text in a language that reads from right to
        left, like Arabic or Hebrew.
    </li>
</ul>